.tab{
    display: flex;
    flex-wrap: wrap;
    background-color: #efefef;
    padding-bottom: 1rem;
    overflow: hidden;
}

.tab-item+label{
    flex: 1;
    order: -1;
    cursor: pointer;
    padding: 1rem .5em;
    margin-bottom: 1rem;
    border-bottom: 3px solid #ddd;
    color: #999;
    white-space: nowrap;
    text-align: center;
}

/* ラジオボタン非表示 */
.tab-item{
    display: none;
}

.tab-content{
    display: none;
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    color: #555;
    line-height: 1.5;
}

.tab-item:checked+label{
    border-bottom: 3px solid #379beb;
    color: #379beb;
    transition: .5s ease-in-out;
}

.tab-item:checked+label+.tab-content{
    display: block;
    padding: 0 1rem;
    color: #333;
}